<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script id="img-assets-access" type="text/javascript"> 
  window.imgs = {
    etheLogo: '<%= image_url('ethe_logo.svg')%>',
    ethePrice: '<%= image_url('ethe-price.png')%>',
    ethereumLogo: '<%= image_url('ethe-price.png')%>',
    latestBlock: '<%= image_url('latest-block.png')%>',
    mineIcon: '<%= image_url('mine-icon.png')%>',
    siteLogo: '<%= image_url('site-logo.png')%>',
    worldMap: '<%= image_url('world-map.svg')%>',
    worldMarked: '<%= image_url('world-marked.png')%>',
    tetherLogo: '<%= image_url('Tether_logo_dm.png')%>',
  }
</script>

<main id="root">broke boy</main>